html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

/* fab and spinner related css starts */

.fab {
  position: fixed !important;
  bottom: 25px;
  right: 16px;
}

.fab--offset {
  position: fixed !important;
  bottom: 75px;
  right: 16px;
}

.fab__icon--white {
  color: white;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* fab related css ends */

/* text related css starts */

.text--white {
  color: white;
}

.text--black {
  color: black;
}

.text--light-black {
  color: #082341;
}

.text--line-height-1 {
  line-height: 1;
}

.text--semibolded {
  font-weight: 500;
}

.text--light-grey {
  color: #bdbdbd;
}

.text--grey {
  color: #9e9e9e;
}

.text__subtitle {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* text related css ends */

/* container/grid related css starts */

.page {
  max-height: 100vh;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.page__group--no-padding-right {
  max-height: calc(100vh - 56px);
  padding: 1.5rem 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.container--full-width {
  width: 100%;
}

.container--third-width {
  width: 33%;
}

.container--two-third-width {
  width: 66%;
}

.container--flex-1 {
  flex: 1;
}

.container--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container--row {
  display: flex;
  flex-direction: row;
}

.container--column {
  display: flex;
  flex-direction: column;
}

.container--align-centered {
  display: flex;
  align-items: center;
}

.container__expense--scrollable {
  overflow-y: scroll;
  max-height: 32.5vh;
  min-height: 32.5vh;
}

.container__flex-1-scrollable {
  overflow-y: scroll;
  flex: 1;
  padding-bottom: 60px;
}

.container--min-height-maximum {
  min-height: 100vh;
}

.container--min-width-maximum {
  min-width: 100%;
}

.container--rounded {
  border-radius: 15px;
}

.container--space-between {
  justify-content: space-between;
  display: flex;
}

.container__item--full-flex {
  flex: "0 0 100%";
}

/* container/grid related css ends */

/* margin/padding related css starts */

.margin__horizontal--1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin__vertical--1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin__vertical--2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin__vertical--3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.margin__left--3 {
  margin-left: 1.5rem;
}

.margin__right--3 {
  margin-right: 1.5rem;
}

.margin__right--1 {
  margin-right: 0.5rem;
}

.margin__top--2 {
  margin-top: 1rem;
}

.margin__top--3 {
  margin-top: 1.5rem;
}

.margin__bottom--2 {
  margin-bottom: 1rem;
}

.margin__bottom--4 {
  margin-bottom: 2rem;
}

.padding__all-3 {
  padding: 1.5rem;
}

.padding__vertical-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding__vertical-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding__right-2 {
  padding-right: 1rem;
}

.padding__bottom-2 {
  padding-bottom: 1rem;
}

/* margin related css ends */

/* form-related css starts */

.form__input {
  color: black;
  /* border-radius: 15px; */
  flex: "0 0 100%";
  margin-top: 1rem;
  width: 100%;
}

.form__input--no-margin {
  color: black;
  flex: "0 0 100%";
  width: 100%;
}

.form__submit-button--full-width {
  width: 100%;
  margin-top: 1rem;
}

.form__switch {
  margin-left: 0 !important;
  /* padding-left: 0 !important; */
}

/* list-related css starts */

.list-item__icon-container {
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

/* list-related css ends */

/* bar and menu-related css starts */

.action-bar--top-separated {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-left: -0.75rem;
}

.app-bar {
  position: static;
}

.app-bar__text {
  padding: 1rem 1rem 0 1rem;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateZ(0);
  z-index: 1000;
}

/* nav-bar and menu-related css ends */

/* modal-related css starts */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 24;
  padding: 15px;
  max-height: 85%;
  /* min-height: 50%; */
}

.modal__content {
  margin-bottom: 0.5rem;
  flex-direction: row;
  display: flex;
}

.modal__title {
  color: #082341;
}

.modal__subtitle {
  color: #bdbdbd;
  padding-bottom: 0.5rem;
}

.modal__validation-message {
  line-height: 1;
  margin-top: 1rem;
}

.modal-friend__form-container {
  max-width: 100%;
  margin-top: 1rem;
}

.modal-friend__list-item {
  margin-left: 0;
  padding-left: 0;
  display: flex;
}

.model-friend__list {
  overflow-y: scroll;
}

.model-friend__form-controls {
  margin-top: 1rem;
}

/* modal-related css ends */

/* component-related css starts */

.contact-item--disabled {
  pointer-events: none;
}

.contact-item__container {
  background-color: "transparent";
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
  margin-left: 0rem;
}

.contact-item__texts-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-start;
}

.contact-item__avatar-container {
  margin-right: 1.5rem !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  padding-right: 1.5rem;
}

.contact-item__avatar {
  max-height: 45px;
  max-width: 45px;
  padding-right: 0.5rem;
}

.contact-item__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.avatar-list__container {
  overflow-x: scroll;
  min-height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.avatar-list__add-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-height: 50px;
  min-width: 50px;
  border-radius: 50px;
  border: 2px dashed grey;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.avatar-list__add-icon {
  color: #9e9e9e;
}

.avatar-list__delete-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  max-height: 50px;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px dashed grey;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.avatar-list__label {
  color: black;
}

.avatar-list__avatar {
  width: 50px;
  height: 50px;
}

.money-label__container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.money-label__text-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.money-label__status {
  color: #bdbdbd;
  margin-top: -0.5rem !important;
}

.transaction-item__date {
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border-radius: 6px;
  box-shadow: 3px 5px;
  border: 0.4px solid black;
}

.transaction-item {
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 1rem;
  padding-top: 0 !important;
}

/* component-related css ends */

/* page starts */
.friends-page__subtitle {
  margin-top: 1.5rem;
  font-weight: 500;
}

.friends-page__figure {
  font-weight: 500;
}

.groups-page {
  padding: 1.5rem;
  min-height: 100vh;
  min-width: 100%;
}

.groups-page__input {
  border-radius: 15px;
  color: black;
  margin-top: 1rem;
  flex: 0 0 100%;
}

.groups-page__figure {
  font-weight: 500;
}

.groups-details__info {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

/* page ends */ ;
